{% extends 'base.html' %}

{% block header %}
  <br>
  <br>
  <br>
  <br>
{% endblock %}

{% block content %}
<div style="min-height: 400px;">
  <div class="card text-dark bg-light" style="max-width: 22rem;">
    <h5 class="card-header text-light bg-secondary">Login</h5>
    <div class="card-body">
      <form method="post">
        <div class="col-md-14">
          <!--<label for="username" class="form-label">Username</label>-->
          <input type="text" class="form-control" name="username" id = "username" placeholder="Username" required>
        </div>
        <br>
        <div class="col-md-14">
          <!--label for="password" class="form-label">Password</label>-->
          <input type="password" class="form-control" id="password" aria-label="Password" name="password" id="password" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-danger d-grid gap-2 col-6 mx-auto">Login</button>
        <br>
        <a href="#" class="card-link">Reset Password</a>
        <br>
      </form>
    </div>
  </div>
</div>
{% endblock %}