<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Bloodbank</title>
  <!--link to bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='style.css') }}" type=“text/css” rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('bank.index') }}">Bloodbank</a>
      {% if g.user %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <span class ="navbar-text">{{ g.user['username'] }}</span>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('bank.overview') }}">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('bank.input') }}">Input</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('bank.remove') }}">Remove</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('auth.logout') }}">Logout</a>
              </li>
            </ul>
          </div>
      {% else %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('auth.register') }}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('auth.login') }}">Login</a>
              </li>
            </ul>
          </div>
      {% endif %}
    </div>
  </nav>


  <!--<div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a><span>{{ g.user['username'] }}</span>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('auth.logout') }}">Logout</a>
              </li>
            </ul>
          </div>-->
  
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    </section>
</body>
</html>