{% extends 'base.html' %}

{% block header %}
  <br><br> 
  <h1>{% block title %}Overview{% endblock %}</h1>
  <br><br> 
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Blood Bag ID</th>
        <th scope="col">Component</th>
        <th scope="col">Blood Type</th>
        <th scope="col">Rhesus</th>
      </tr>
    </thead>
    <tbody>
      {% for blood in bloodstock %}
      <tr>
        <th scope="row">{{ blood['id'] }}</th>
        <td>{{ blood['blood_type'] }}</td>
        <td>{{ blood['blood_group'] }}</td>
        <td>{{ blood['rhesus'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}



