{% extends 'base.html' %}

{% block header %}
  <br><br>  
  <h1>{% block title %}Your Account{% endblock %}</h1>
  <br><br>
{% endblock %}

{% block content %}
<div style="min-height: 400px;">
  <div class="card text-dark bg-light" style="max-width: 30rem;">
    <div class="card-body">
          {% for bank in bloodbank %}
          <div class="card-body">
            <p class="card-text">Username: <strong>{{ g.user['username'] }}</strong></p>
            <p class="card-text">Bloodbank: <strong>{{ bank['name'] }}</strong></p>
            <p class="card-text">Bloodbank ID: <strong>{{ bank['id'] }}</strong></p>
            <a href="#" class="card-link">Reset Password</a>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}



